/* I am using breakpoints akkording to bootstrap */

@media only screen and (max-width: 991px) and (min-width: 768px) { 
    .content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
    }

    #movie-card{
        max-width: 45%;
    }

    #sort-div{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2em;
    }

    .desription{
        height: 300px;
    }

    .card-white-block{
        height: 250px;
    }
  }